<!-- blog/templates/registration/login.html -->
{% extends "base.html" %}
{% load static %}  <!-- This is necessary to load static files -->

{% block content %}
<h2>Login</h2>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Username:</label>
        <input type="text" name="username" class="form-control" id="id_username" required>
    </div>
    <div class="form-group">
        <label for="id_password">Password:</label>
        <input type="password" name="password" class="form-control" id="id_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
<a href="{% url 'register' %}">Don't have an account? Register here.</a>
{% endblock %}
